Q1. How do you comment code in Python? What are the different types of comments?

Ans:In python comment is done using # as for single line comment and ''' for multiline comment.using ''' this we can declare a string whose content is in more than one line.

In [8]:
# hello pw skills
a='''hello pw skills thanks for teaching in simple
way'''
a

'hello pw skills thanks for teaching in simple\nway'

Q2. What are variables in Python? How do you declare and assign values to variables?

In [ ]:
ans:variables are nothing but memory where data is stored for processing it may be ram or secondary.
string variables are  declared using double or single quotes at the start and end of the data.boolean variables are declared by writing True with t capital and same for False.

In [10]:
a=747
b="pwskills"
c=54.90
d=True
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>

Q3. How do you convert one data type to another in Python?

In [ ]:
ans:using typecasting we can convert one data type into another.if we try to convert a string with numeric data into int by typecasting then its okay 
but not a string with textual be typecasted into int that is not possible.let me explain with code.

In [22]:
a="23"
type(a)

str

In [19]:
a=int(a)
type(a)

int

In [20]:
b="adi"
type(b)

str

In [23]:
b=int(b)
type(b)

ValueError: invalid literal for int() with base 10: 'adi'

Q4. How do you write and execute a Python script from the command line?

ans:first of all write the code in your code in text editor.save file as .py extension.then open command prompt using cd command type the path of saved
file and then hit enter .then next write python and type saved file name with extension .py after which hitting enter ur code will get run on command 
prompt.ex:->

In [ ]:
print("adi")  #in idle

output:Microsoft Windows [Version 10.0.22621.1992]
(c) Microsoft Corporation. All rights reserved.

C:\Users\Aditya Deshmukh>cd C:\Users\Aditya Deshmukh\Downloads\

C:\Users\Aditya Deshmukh\Downloads>python pw.py
adi

C:\Users\Aditya Deshmukh\Downloads>

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [3]:
my_list=[1,2,3,4,5]
my_list[1:3]

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

In [ ]:
ans:in maths complex number is a number which has two parts one real and other imaginary.reprsented in a+ib form where in maths a is real part and i is
called as iota i.e root of -1.
in python we used j instead of i.

In [4]:
c=2+3j
type(c)

complex

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [11]:
age=25
type(age)

int

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

In [5]:
price=9.99
type(price)

float

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [6]:
name="Aditya Dhanaji Deshmukh"
print(name)

Aditya Dhanaji Deshmukh

Q10. Given the string "Hello, World!", extract the substring "World".

In [8]:
a="Hello, World!"
a[7:12:]

'World'

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [10]:
is_student=input("enter whether u are a student or not say only yes or no")
if is_student=='yes':
    print("u re a student")
else:
    print("u are not a student")

enter whether u are a student or not say only yes or no no

u are not a student